<!DOCTYPE html>
<html lang="en">
<head>
    Bowling
</head>
<body class="container">

We are now bowling

<tr>
    <th>Player</th>
    <th>Frame 1</th>
    <th>Frame 2</th>
    <th>Frame 3</th>
    <th>Frame 4</th>
    <th>Frame 5</th>
    <th>Frame 6</th>
    <th>Frame 7</th>
    <th>Frame 8</th>
    <th>Frame 9</th>
    <th>Frame 10</th>
  </tr>
  <tr>
    <td>Will</td>
    <td>
      <%if(typeof(game.scorecard[0])!==undefined){%>
      <%=game.scorecard[0]%>
      <%};%>
    </td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
  </tr>
  <tr>
    <td>
      <%if(typeof(game.framelist[0])!==undefined){%>
      <%=game.framelist[0][0]%>
      <%=game.framelist[0][1]%>
      <%};%>
    </td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
  </tr>
</table>

<form action='/' method = 'post'>
  <input type="hidden" value="1">
  <input type="submit" value="Bowl 1">
</form>
<form action='/' method = 'post'>
  <input type="hidden" value="2">
  <input type="submit" value="Bowl 2">
</form>
<form action='/' method = 'post'>
  <input type="hidden" value="3">
  <input type="submit" value="Bowl 3">
</form>
<form action='/' method = 'post'>
  <input type="hidden" value="4">
  <input type="submit" value="Bowl 4">
</form>
<form action='/' method = 'post'>
  <input type="hidden" value="5">
  <input type="submit" value="Bowl 5">
</form>
<form action='/' method = 'post'>
  <input type="hidden" value="6">
  <input type="submit" value="Bowl 6">
</form>
<form action='/' method = 'post'>
  <input type="hidden" value="7">
  <input type="submit" value="Bowl 7">
</form>
<form action='/' method = 'post'>
  <input type="hidden" value="8">
  <input type="submit" value="Bowl 8">
</form>
<form action='/' method = 'post'>
  <input type="hidden" value="9">
  <input type="submit" value="Bowl 9">
</form>
<form action='/' method = 'post'>
  <input type="hidden" value="10">
  <input type="submit" value="Bowl 10">
</form>

</body>
</html>
