<!DOCTYPE html>
<html lang="en">
<head>
    Bowling
</head>
<body class="container">

Let's go bowling!

<form action='/' method = 'post'>
  <input type="submit" value="Start!!">
</form>

</body>
</html>
